/* line 55, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
div.listingblock {
  margin-bottom: 1em; }

/* line 59, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.button a {
  color: #ffffff; }

/* line 63, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.button p {
  margin: 0; }

/* line 67, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
h3, h4, h5, h6 {
  color: #ba3925; }

/* line 71, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
code {
  line-height: 1.45;
  font-weight: 400; }

/* line 76, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
div.row {
  padding-top: 2em;
  padding-bottom: 2em; }

/* line 81, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
footer {
  color: #fff;
  background-color: #136e9e;
  line-height: 20px;
  font-family: "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: .95em;
  font-weight: 300;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 93, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
footer a {
  color: #fff;
  text-decoration: none;
  border-bottom: dotted 1px #a5d8c7;
  line-height: inherit; }

/* line 100, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
footer a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: solid 1px #a5d8c7;
  line-height: inherit; }

/* line 107, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: default; }

/* line 113, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  color: #19407c; }

/* line 118, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  text-shadow: 1px 1px 2px rgba(155, 155, 0, 0.8);
  color: #111; }

/* line 124, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  color: #bf6900; }

/* line 129, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  color: #bf3400; }

/* line 134, /Users/carsten/devel/hibersap.github.io/stylesheets/app.scss */
.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  color: #bf0000; }
